<ion-header>
  <ion-toolbar>
    <ion-title>Welcome to Weather App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>
  
<ion-tabs>
  <ion-tab-bar>
    <ion-button tab="current-weather"  [routerLink]="'/home/current-weather'">
      <ion-icon name="sunny"></ion-icon>
      <ion-label>Current</ion-label>
    </ion-button>

    <ion-button tab="weather-forecast" [routerLink]="'/home/weather-forecast'">
      <ion-icon name="partly-sunny"></ion-icon>
      <ion-label>Forecast</ion-label>
    </ion-button>
  </ion-tab-bar>
</ion-tabs>
